.bubble-container {
    width: 50vh; 
    margin: 2vh 3vh; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
}

.bubble-img {
    height: 20vh;
    border-radius: 0.6vh;
}