.card-container {
  width: 40vh;
  margin: 2vh 4vh;
  box-shadow: 0 0.5vh 1vh 0 rgba(0,0,0,0.2);
  border-radius: 0.6vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-img {
  width: 100%;
  border-radius: 0.6vh 0.6vh 0vh 0vh;
  transition: all 0.06s ease;
  object-fit: contain;  
  cursor: pointer;
}

.card-img:hover {
 transform: scale(1.04);
}

.card-desc {
  background-color: #0088a9;
  z-index: 1;
  border-radius: 0vh 0vh 0.6vh 0.6vh;
  flex-grow: 1;
}