$colour-primary: #0088a9;
$colour-primary-dark: #007a98;
$colour-primary-superdark: #004455;
$colour-primary-light: #33a0ba;

.form-label {
    margin-bottom: 1vh;
}

.form-text, .form-btn, .form-text-area {
    font-size: 2.8vh;
    padding: 1vh 1.4vh;
    border: none;
    border-radius: 0.5vh;
    box-sizing: border-box;
    margin-bottom: 2vh;
    transition: all 0.05s ease;
    width: 50vh;
    outline-color: gray;
}

.form-text {
    background-color: rgb(249, 249, 249);
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.form-text-area {
    height: 30vh;
    resize: none;
}

.form-text:focus {
    box-shadow: 0 0 3pt 2pt rgba(255, 255, 255, 1);
}

.form-btn {
    background-color: $colour-primary;
    color: white;
    cursor: pointer;
    transition: all 0.1s ease;
    outline: none;
}

.form-btn:focus{ 
    box-shadow: 0 0 3pt 2pt $colour-primary-light;
}

.form-btn:hover {
    background-color: $colour-primary-dark;
}