$colour-primary: #0088a9;
$colour-primary-dark: #007a98;
$colour-primary-superdark: #006d87;
$colour-primary-light: #33a0ba;

.form-label {
    margin-bottom: 1vh;
}

.form-text, .form-btn, .form-text-area {
    font-size: 2.8vh;
    padding: 1vh 1.4vh;
    border: none;
    border-radius: 0.5vh;
    box-sizing: border-box;
    margin-bottom: 2vh;
    transition: box-shadow 0.05s ease;
    width: 50vh;
    appearance: none;
    outline: none;
}

.form-text:focus, .form-text-area:focus {
    border: 0.3vh solid gray;
    padding: 1vh 1.1vh;
}

.form-text {
    background-color: rgb(249, 249, 249);
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.form-text, .form-btn {
    height: 6vh;
}

.form-text-area {
    height: 30vh;
    resize: none;
}

.form-text:focus, .form-text-area:focus {
    box-shadow: 0 0 0.45vh 0.3vh rgba(255, 255, 255, 1);
}

.form-btn:focus {
    box-shadow: 0 0 0.45vh 0.3vh $colour-primary-light;
}

.tabbed-in.form-btn:focus {
    border: 0.3vh solid white;
}

.form-btn {
    background-color: $colour-primary;
    color: white;
    cursor: pointer;
    transition: all 0.1s ease;
}

.form-btn:hover {
    background-color: $colour-primary-dark;
}

.form-btn:active {
    background-color: $colour-primary-superdark;
}

//override hover colour if button is disabled
.form-btn:disabled {
    opacity: 0.5;
    background-color: $colour-primary;
    cursor: default;
}
