.g1 {
    background-image: linear-gradient(#F9F9F9, #F0F0F0);
    color: black;
}

.g1 hr {
    background-color: black;
	height: 0.1vh;
	border: 0;
}

.g2 {
    background-image: linear-gradient(#36393F, #2F3136);
}

.g2 hr {
	background-color: white;
	height: 0.1vh;
	border: 0;
}