$header-height: 50px;
header {
	display: flex;
	justify-content: space-between;
	align-items: center;  
	background-color: #24252a;
	top: 0px;
	position: fixed;
	width: 100%;
	font-family: "Titillium Web", sans-serif;
	z-index: 10;
	font-size: 20px;
	user-select: none;
}

.logo {
	width: 40px;
	margin: 5px 25px;
	cursor: pointer;
	border-radius: 2px;
}

.logo:hover {
	width: 42px;
	margin: 4px 24px;
}

.nav-links {
	display: flex;
	align-items: center;
}

.active {
	background-color: #36393F;
	border-radius: 2px;
}

.menu-icon {
	float: right;
	width: 25px;
	margin: 0px 25px 0px 0px;
	fill: white;
	transition: fill 0.1s ease;
	cursor: pointer;
}

.menu-icon:hover {
	fill: #0088a9;
}

//max size for fullscreen menu text
@media screen and (max-height: 320px) {
	.fullscreen-menu {
		font-size: 6.25vh;
		padding: 3.125vh;
	}
}

.nav-links, .fullscreen-menu {
	a {
		text-decoration: none;
		color: white;
		transition: all 0.1s ease;
	}

	a:hover {
		color: #0088a9;
	}
}

.nav-links a {
	padding: 0px 5px;
	margin-right: 40px;
}